<div class="container-general">
    
    <div class="title">
        <h1>SECTION OUR WORK</h1>
    </div>

    <div class="container-circles" >

        <div class="container-circle" *ngFor="let item of [1,2,3,4]">
            <div class="circle"></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis</div>
        </div>

    </div>
</div>