<div div class="container-general">
    <div class="title">
        <h1>¿Que hacemos?</h1>
    </div>
    <div class="container-circles">
        <div class="container-circle">
            <div class="circle"></div>
            <div>Nos enfocamos<br>en ofrecer<br>profecionalismo<br> y competencia.</div>
        </div>
        <div class="container-circle">
            <div class="circle"></div>
            <div>Nos enfocamos<br>en ofrecer<br>profecionalismo<br> y competencia.</div>
        </div>
        <div class="container-circle">
            <div class="circle"></div>
            <div>Nos enfocamos<br>en ofrecer<br>profecionalismo<br> y competencia.</div>
        </div>
    </div>
</div>