@import '../../../styles.scss';

.container-general {
    text-align: center;
    background-color: $grayscale-0;
    padding-bottom: 40px;
}

.container-circles {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    // max-width: 800px;
    list-style: none;
    margin-top: 20px;
}

.container-circle {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.circle {
    height: 200px;
    width: 200px;
    background: rgb(97, 87, 87);
    //border-radius: 50%;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding-top: 40px;
}

h1 {
    color: $grayscale-3;
    font-weight: 500;
    font-size: 30px;
}