/* You can add global styles to this file, and also import other style files */

//list of colors
$yellow: #FFE600;
$white-color: #FAFAFA;
$grayscale-3: #333333;
$grayscale-2: #999999;
$grayscale-1: #A5A5A5;
$grayscale-0: #EEEEEE;
$blue-success: #3483FA;
$green: #61db85;
$red: #eb594f;

body {
    background-color: $white-color;
  }

body { 
  margin: 0; 
  font-family: Sans-Serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
