<div style="padding: 24px; background-color: transparent !important; display: flex; flex-direction: row; justify-content: space-between;  max-height: 20px;
color: white">
    <div>LOGO</div>
    <div style="display: flex; flex-direction: row;" class="nav-items">
       <div class="item"><a href="#que-hacemos">¿Que hacemos?</a></div>
       <div class="item"><a href="#quienes-somos">¿Quienes somos?</a></div>
       <div class="item"><a href="#consulta">Consulta</a></div>
       <div class="item"><a href="#contacto">Contacto</a></div>
    </div>

    <div class="icon" style="display: none;" (click)="openMenu()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    </div>
</div>

<div class="mobile-menu" [class.hidden]="!showMenu">
    <div class="item-menu"><a href="#que-hacemos" (click)="closedMenu()">¿Que hacemos?</a></div>
    <div class="item-menu"><a href="#quienes-somos" (click)="closedMenu()">¿Quienes somos?</a></div>
    <div class="item-menu"><a href="#consulta" (click)="closedMenu()">Consulta</a></div>
    <div class="item-menu"><a href="#contacto" (click)="closedMenu()">Contacto</a></div>
</div>

<div class="overlay" [class.hidden]="!showMenu" (click)="clickOverlay()"></div>