<div class="container-form"> 

    <h1>get a free no obligation consultation</h1>

    <form action="ejemplo@ejemplo.com" method="get">
        <ul>
            <li>
                <input type="text" id="name" name="user_name" placeholder="Nombre*">
            </li>
            <li>
                <input type="email" id="mail" name="user_mail" placeholder="Correo electrónico*">
            </li>
            <li>
                <textarea id="msg" name="user_message" placeholder="Consulta*"></textarea>
            </li>
            <li class="button">
                <button type="submit">Enviar</button>
            </li>
        </ul>
    </form>
 
</div>

