<!--<app-header></app-header>-->

<div style="position: relative; height: calc(100vh - 68px);">
    <!--poner aca el contenido de la pagina-->
    
    <hero [proportion]="proportion"></hero>

    <work id="que-hacemos"></work>

    <app-our-team id="quienes-somos"></app-our-team>

    <app-form id="consulta"></app-form>

    <contact id="contacto"></contact>

    <!--footer-->
    <div style="height: 80px;
    background-color: rgb(70, 66, 66); display: flex; justify-content: center; align-items: center;">

    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row;">
            <mat-icon style="color: white; height: 20px; margin-right: 5px;
            margin-top: -2px;">facebook</mat-icon>
            <!-- <p style="color: white;">facebook/asf</p> -->

            <mat-icon style="color: white; height: 20px; margin-right: 5px; margin-left: 10px;
                margin-top: -2px;">location_on</mat-icon>
            <!-- <p style="color: white;">Av. Siempre viva 123</p> -->

            <mat-icon style="color: white; height: 20px; margin-right: 5px; margin-left: 10px;
                margin-top: -2px;">mail</mat-icon>
            
            <!-- <p style="color: white;">mail@mail.com.ar</p> -->
        </div>

        <p style="color: white; text-align: center; margin-top: 8px;">Copyright 2021</p>
    </div>

    </div>
</div> 

